.header-basic {
	background-color: transparent;
	padding: 10px 40px;
	height: 60px;
	box-sizing: border-box;
}

.header-basic .header-limiter {
	max-width: 1200px;
	text-align: center;
	margin: 0 auto;
}

/* Logo */

.header-basic .header-limiter h1 {
	float: left;
	font:16px Helvetica Neue;
	line-height: 40px;
	margin: 0;
	letter-spacing: 1px;
	text-decoration: none;
}

.header-basic .header-limiter h1{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: left;
	letter-spacing: 1px;
	text-decoration: none;
}

.header-basic .header-limiter h1 a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
	padding-right:20px;

}
.header-basic .header-limiter h1 span {
	background-color:black;
	background: url(../images/background.jpg);
}

/* The header links */

.header-basic .header-limiter a {
	color: #ffffff;
	text-decoration: none;
}

.header-basic .header-limiter nav{
	font:16px Arial, Helvetica, sans-serif;
	line-height: 40px;
	float: right;
	letter-spacing: 1px;
	text-decoration: none;
}

.header-basic .header-limiter nav a{
	display: inline-block;
	padding: 0 5px;
	text-decoration:none;
	color: #ffffff;
	font-size: 16px;
	opacity: 0.9;
	padding-left:20px;

}

.header-basic .header-limiter nav a:hover{
	opacity: 1;
}

.header-basic .header-limiter nav a.selected {
	color: #608bd2;
	pointer-events: none;
	opacity: 1;
}

.jumbotron
{
	background: #1b1f30 url(../images/background6.jpg) no-repeat center;
	color: #fff;
	margin-bottom: 5px;
	background-position: 0% 44%;
	background-size: cover;
	height: 1000px;
	text-align:center;
}

.jumbotron-header
{
	padding-top:60px;
	text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 6em;
}

.jumbotron-header-repos
{
	padding-top:20px;
	text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 6em;
	padding-bottom:20px;
}

.jumbotron-header-mission
{
	padding-top:20px;
	text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 6em;
	padding-bottom:20px;
}

.jumbotron-header-team
{
	padding-top:0px;
	margin-top: 0px;
	text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
	font-size: 1.5em;
	padding-bottom:20px;
	width:50%;
	margin: 0 auto;
}
/* Making the header responsive */

@media all and (max-width: 600px) {

	.header-basic {
		padding: 20px 0;
		height: 75px;
	}

	.header-basic .header-limiter h1 {
		float: none;
		margin: -8px 0 10px;
		text-align: center;
		font-size: 24px;
		line-height: 1;
	}

	.header-basic .header-limiter nav {
		line-height: 1;
		float:none;
	}

	.header-basic .header-limiter nav a {
		font-size: 13px;
	}

	.jumbotron-header {
		text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
		font-size: 6em;
	}

}

body {
	margin:0;
	padding:0;
	border: 0;
	vertical-align: baseline;
	-webkit-text-size-adjust: none;

}

#container2 { display:none; }

.modal-content {
	color:black;
}

.ie-main{
	width:100%;
	position:absolute;
	top:1px;
	z-index:1002;
	text-shadow:1px 1px 4px rgba(0, 0, 0, 0.5);
}

.jumbotron-footer {
	position:relative;
	top:200px;"
}

.ie-repo-button-active {
	border-radius:0px;
	min-width:170px;
	background:rgb(0, 97, 168);
	font-size: 14px;
}

.current-repo-button {
	-webkit-appearance:none;
	cursor: pointer;
}

#repo-buttons #cur-repo-button{
	border-radius:0px;
	min-width:170px;
	background:rgb(0, 97, 168);
	font-size: 14px;
}

#repo-buttons #dev-repo-button{
	border-radius:0px;
	min-width:170px;
	margin-left:-3px;
	background:rgba(255, 255, 255, 0.45);
	font-size: 14px;
}

#currentRepos a{
	-webkit-appearance:none;
	cursor:pointer;
}

#devRepos a{
	-webkit-appearance:none;
	cursor: pointer;
}

.repo-title{
	margin-top:50px;
}
